/* Header Partial */

header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.primary-typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

    @media screen and (max-width: 1024px) {
            height: 80px;
    }

    @media screen and (max-width: 768px) {
        height: 70px;
    }

    @media screen and (max-width: 480px) {
        height: 40px;
    }
}

.secondary-typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    
    @media screen and (max-width: 768px) {
        height: 60px;
    }

    @media screen and (max-width: 625px) {
        height: 50px;
    }

    @media screen and (max-width: 480px) {
            height: 40px;
    }
}

.h1-input-cursor {
    display: inline-block;
    width: 4px;
    height: 130px;
    background-color: $clr-white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;

    @media screen and (max-width: 1024px) {
        height: 100px;
    }

    @media screen and (max-width: 768px) {
        height: 80px;
    }

    @media screen and (max-width: 480px) {
        height: 60px;
    }
    
}

.h2-input-cursor {
    display: none;
    width: 2px;
    height: 50px;
    background-color: $clr-white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;

    @media screen and (max-width: 1024px) {
        height: 40px;
    }

    @media screen and (max-width: 768px) {
        height: 30px;
    }

    @media screen and (max-width: 480px) {
        height: 24px;
    }
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.h1-bracket-beg, .h1-bracket-end {
    color: $clr-blue;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.down-arrow-container {
    position: absolute;
    bottom: 50px;
    animation: bounce 2s infinite ease-in-out alternate;

    i {
        @include fontSize(80);

        &:hover {
                color: $clr-blue;
            }
        

        @media screen and (max-width: 768px) {
            @include fontSize(60);
        }
    }
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

