/* Base Styles Partial */

html {
    scroll-behavior: smooth;
}

body {
    background: $clr-darkgrey;
}

h1, h2, h3, h4, h5, p, a, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: $clr-white;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
    max-height: 100%;
}

button {
    border: none;
    background: none;
}

