/* About Section Partial */

.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    padding-top: 2rem;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;

        
    }

    img {
        border-radius: 50%;
    }

    .txt-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0 0 0 3rem;
        width: 70%;

        @media screen and (max-width: 768px) {
            margin: 1rem 0 0 0;
            width: 90%;
            align-items: center;

        }
    }

    h3 {
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    p {
        // @include fontSize(20);
        margin: 1rem 0 0 0;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;

    }
}