/* Contact Section Partial */

.contacts-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 1rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 2rem 0 2rem 0;
        text-align: center;
    }

    p {
        @include fontSize(24);
        margin: 2rem 0 2rem 0;
        text-align: center;
    }

    .img-container {
        width: 150px;
        
    }

    img {
        border-radius: 50%;
    }

    .icons-container {
        display: flex;
        margin: 0 0 2rem 0;
    }

    .icon-container {
        margin: 0 1rem 0 1rem;
    }

    i {
        @include fontSize(40);
        color: $clr-blue;
    }

    button {
        width: 200px;
        margin: 1.5rem 0 1.5rem 0;
        border: 1px solid $clr-blue;
        padding: 0.5rem 1rem;
        font-weight: $fw-regular;
        color: $clr-white;
        cursor: pointer;

        &:hover,
        &:focus {
            background: $clr-blue;
            color: $clr-darkgrey;
        }
        
    }

}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.name-and-email-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        width: 48%;
        height: 40px;
        border: none;
        background: $clr-white;
        color: black;
        padding: 0 0 0 0.5rem;
        
        &::placeholder {
            opacity: 1;
            vertical-align: top;
        }

        @media screen and (max-width: 320px) {
            width: 100%;
            margin-top: 1rem;
        }
    }

    @media screen and (max-width: 320px) {
        flex-direction: column;
    }
}

.message-container {
    width: 100%;
    
    input {
        margin: 1rem 0 0 0;
        width: 100%;
        height: 260px;
        border: none;
        background: $clr-white;
        color: black;
        padding: 0 0 10rem 0.5rem;

        &::placeholder {
            opacity: 1;
            vertical-align: text-top;
            padding-bottom: 2rem

        }
    }
}

