/* Projects Section Partial */

.projects-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 1rem;

    h3 {
        margin: 2rem 0 2rem 0;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}

.projects-container {
    display: flex;
    flex-direction: column;
    
    .img-container {
        width: 50%;
        
        img {
            border: 1px solid $clr-blue;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .info-container {
        width: 50%;

        h4 {
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        p {
            //@include fontSize(20);
            line-height: 1.5rem;
            margin: 1rem 0 2rem 0;

            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        .icons-container {
            margin: 1rem 0 2rem 0;
            display: flex;
            
            i {
                @include fontSize(50);
                color: $clr-blue;

                @media screen and (max-width: 320px) {
                    @include fontSize(40);
                }
                
            }
            
            img {
                width: 50px;
                height: 50px;

                @media screen and (max-width: 320px) {
                    width: 40px;
                    height: 40px;
                }
            }

            .icon {
                margin: 0 1rem 0 0;
            }

            @media screen and (max-width: 768px) {
                justify-content: center;
            }
        }

        

        .links-container {
            display: flex;
        
            a {
                width: 150px;
                height: 50px;
                font-weight: $fw-regular;
                text-align: center;
                line-height: 50px;
                border: 1px solid $clr-blue;
                margin: 0 1rem 0 0;
        
                &:hover,
                &:focus {
                    background-color: $clr-blue;
                    color: $clr-darkgrey;
                }
            }

            @media screen and (max-width: 768px) {
                justify-content: center;
            }

            
        }

        .link-container {
            display: flex;
            align-content: center;
            border: 1px solid $clr-blue;
            margin: 0 1rem 0 0;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    
}

.project-one-container {
    display: flex;
    margin-bottom: 4rem;

    .info-container {
        margin-left: 2rem;

        @media screen and (max-width: 768px) {
            margin: 1rem 0 0 0;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.project-two-container {
    display: flex;
    margin-bottom: 4rem;

    .info-container {
        margin-right: 2rem;

        @media screen and (max-width: 768px) {
            margin: 1rem 0 0 0;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
    }
    
}







