/* Skills Section Partial */

.skills-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    

    h3 {
        margin: 2rem 0 2rem 0;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}

.skills-icons-container {
    display: flex;
    flex-wrap: wrap;

    .icon-container {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 1rem 0;

        @media screen and (max-width: 768px) {
            flex-basis: 33%;
        }

        @media screen and (max-width: 360px) {
            flex-basis: 50%;
        }
    }

    i {
        margin: 0 0 0.5rem 0;
        @include fontSize(100);
        color: $clr-blue;

        @media screen and (max-width: 480px) {
            @include fontSize(50);
        }
    }

    p {
        font-weight: $fw-bold;
        color: $clr-blue;
        text-align: center;

        @media screen and (max-width: 480px) {
            @include fontSize(20);
        }
    }

    img {
        margin: 0 0 1rem 0;
        width: 100px;

        @media screen and (max-width: 480px) {
            width: 60px;
        }
    }

}








