/* Skills Section Partial */

.skills-section {
    height: 100vh;
}

.skills-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.skills-icons-container {
    display: flex;
    flex-wrap: wrap;

    .icon-container {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 2rem 0;
    }

    i {
        @include fontSize(140);
        color: $clr-blue;
    }

    p {
        font-weight: $fw-bold;
        color: $clr-blue;
    }

    img {
        width: 140px;
    }

}








