/* Variables Partial */

/* Font Family */
$ff-primary: 'Inter', sans-serif;

/* Font Weight */
$fw-extralight: 200; 
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

/* Colours*/
$clr-white: rgba(255, 255, 255, 100%);
$clr-blue: rgba(106, 193, 255, 100%);
$clr-darkgrey: rgba(30, 30, 30, 100%);




